body {
  font-family: 'Outfit', sans-serif;
  letter-spacing: 0.03em;
  color: #212121;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  width: 1260px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  width: 1260px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.cv-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.address-list, .social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.address-link, .social-link {
  text-decoration: none;
}

.header {
  background-color: #757575;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cv-img {
  width: 380px;
  height: 380px;
  border-radius: 50%;
}

.info {
  margin-left: auto;
}

.title {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 24px;
  line-height: 1.17;
  font-weight: 500;
  color: #2F303A;
  margin-bottom: 30px;
}

.address {
  font-style: normal;
  margin-bottom: 30px;
}

.address-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address-item:not(:last-child) {
  margin-bottom: 10px;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  line-height: 1.17;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.address-link:hover, .address-link:focus {
  color: #fff;
}

.contacts-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: rgba(255, 255, 255, 0.6);
  width: 12px;
  height: 16px;
  margin-right: 8px;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.address-link:hover .contacts-icon,
.address-link:focus .contacts-icon {
  fill: #fff;
}

.email-icon {
  width: 16px;
  height: 12px;
}

.address-icon {
  width: 16px;
  height: 12px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.social-link:hover, .social-link:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icon {
  fill: rgba(255, 255, 255, 0.6);
  width: 25px;
  height: 25px;
}
/*# sourceMappingURL=main.css.map */