.header {
    @extend %section;
    background-color: #757575;
}
.container {
    @extend %container;
}
.header-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

}
.cv-img {
    @extend %img;
    width: 380px;
    height: 380px;
    border-radius: 50%;
}
.info {
    margin-left: auto;
}
.title {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.17;
    margin-bottom: 30px;
}

.subtitle {
    font-size: 24px;
    line-height: 1.17;
    font-weight: 500;
    color: #2F303A;
    margin-bottom: 30px;
    // text-align: center;
}

.address {
    font-style: normal;
    margin-bottom: 30px;
}
.address-list {
    @extend %list;
}

.address-item {
    display: flex;
    align-items: center;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
    
}
.address-link {
    @extend %link;
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    line-height: 1.17;
    transition: color 250ms var(--timing-function);
    &:hover, &:focus {
        color: #fff;
    }
}

.contacts-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: rgba(255, 255, 255, 0.6);
    width: 12px;
    height: 16px;
    margin-right: 8px;
    transition: fill 250ms var(--timing-function);
    .address-link:hover &,
    .address-link:focus & {
        fill: #fff;
    }
}
.email-icon {
    width: 16px;
    height: 12px;
}
.address-icon {
    width: 16px;
    height: 12px;
}

.social-list {
    @extend %list;
    display: flex;
    align-items: center;
}

.social-item:not(:last-child) {
    margin-right: 10px;
}


.social-link {
    @extend %link;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px; 
    border-radius: 50%;

    transition: background-color 250ms var(--timing-function);
    &:hover, &:focus {  
        background-color: rgba(255, 255, 255, 0.1);
    }
} 
.social-icon {
    fill: rgba(255, 255, 255, 0.6);
    width: 25px;
    height: 25px; 
    
}
