.header {
    @extend %section;
    background-color: $primary-bg-color;
}
.container {
    @extend %container;
}
.header-wrap {
    @include centeredFlex(flex);

}
.cv-img {
    @extend %img;
    width: 380px;
    height: 380px;
    border-radius: 50%;
}
.info {
    margin-left: auto;
}
.title {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.17;
    margin-bottom: 30px;
}

.subtitle {
    font-size: 24px;
    line-height: 1.17;
    font-weight: 500;
    color: $secondary-text-color;
    margin-bottom: 30px;
}

.address {
    font-style: normal;
    margin-bottom: 30px;
}
.address-list {
    @extend %list;
}

.address-item {
    display: flex;
    align-items: center;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
    
}
.address-link {
    @extend %link;
    @include transition(color);
    color: $address-color;
    font-size: 18px;
    line-height: 1.17;

    &:hover, &:focus {
        color: $primary-white-color;
    }
}

.contacts-icon {
    @include centeredFlex(inline-flex);
    @include transition(fill);

    fill: $address-color;
    width: 12px;
    height: 16px;
    margin-right: 8px;

    .address-link:hover &,
    .address-link:focus & {
        fill: $primary-white-color;
    }
}
.email-icon {
    width: 16px;
    height: 12px;
}
.address-icon {
    width: 16px;
    height: 12px;
}

